docs/Agent RAG V2.json
{
  "name": "Agent RAG V2",
  "nodes": [
    {
      "parameters": {
        "model": "gpt-4.1",
        "options": {}
      },
      "id": "01adda63-511d-4845-8f8b-3974728e2ccb",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        -1040,
        112
      ],
      "credentials": {
        "openAiApi": {
          "id": "nFqTD25QsgkeeRWg",
          "name": "Youtube Strategist"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.content || $json.data || $json.text || $json.concatenated_data }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "=file_id",
                "value": "={{ $('Set File ID').first().json.file_id }}"
              },
              {
                "name": "file_title",
                "value": "={{ $('Set File ID').first().json.file_title }}"
              }
            ]
          }
        }
      },
      "id": "d62846a6-b2b7-4324-91b9-d19c31db6fd9",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        1408,
        800
      ]
    },
    {
      "parameters": {
        "model": "text-embedding-3-small",
        "options": {}
      },
      "id": "d8ba3e6a-cc8f-4775-bd84-46b50835c169",
      "name": "Embeddings OpenAI1",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1,
      "position": [
        1264,
        800
      ],
      "credentials": {
        "openAiApi": {
          "id": "nFqTD25QsgkeeRWg",
          "name": "Youtube Strategist"
        }
      }
    },
    {
      "parameters": {
        "content": "## Consulta Base RAG",
        "height": 465,
        "width": 583,
        "color": 3
      },
      "id": "effd894a-f896-4553-b801-1c161d1e0483",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -256,
        -192
      ]
    },
    {
      "parameters": {
        "content": "## Inserção de Base de Conhecimento no Database",
        "height": 867,
        "width": 3073,
        "color": 6
      },
      "id": "d3fb8beb-213e-4ece-a19d-e67eb0dacb5a",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1328,
        288
      ]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Set File ID').item.json.file_id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "text/plain"
            }
          }
        }
      },
      "id": "5bec07fe-61de-4036-bcf5-dd4382ee0194",
      "name": "Download File",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -256,
        528
      ],
      "executeOnce": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "45fAQEgxniTP0gBt",
          "name": "GOogle OATH Lion"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "12D_zcqS8WQMX8wmvtkDhMecVPWeGsFkb",
          "mode": "list",
          "cachedResultName": "RAG Advanced",
          "cachedResultUrl": "https://drive.google.com/drive/folders/12D_zcqS8WQMX8wmvtkDhMecVPWeGsFkb"
        },
        "event": "fileCreated",
        "options": {}
      },
      "id": "56cca308-e520-4105-b315-cd61c0c42ec1",
      "name": "File Created",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -1280,
        368
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "45fAQEgxniTP0gBt",
          "name": "GOogle OATH Lion"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "12D_zcqS8WQMX8wmvtkDhMecVPWeGsFkb",
          "mode": "list",
          "cachedResultName": "RAG Advanced",
          "cachedResultUrl": "https://drive.google.com/drive/folders/12D_zcqS8WQMX8wmvtkDhMecVPWeGsFkb"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "id": "5ebe83d0-69cd-4273-8fa3-ab210c7b1eb4",
      "name": "File Updated",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -1280,
        528
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "45fAQEgxniTP0gBt",
          "name": "GOogle OATH Lion"
        }
      }
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "id": "15a12662-a825-4691-884d-478441fd898b",
      "name": "Extract Document Text",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        384,
        944
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {},
      "id": "ee34bea3-6ca9-41c0-acb6-088b3827ce19",
      "name": "Postgres Chat Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1,
      "position": [
        -896,
        112
      ],
      "notesInFlow": false,
      "credentials": {
        "postgres": {
          "id": "atqjwnq3Ph4Zvzm9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "10646eae-ae46-4327-a4dc-9987c2d76173",
              "name": "file_id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "f4536df5-d0b1-4392-bf17-b8137fb31a44",
              "name": "file_type",
              "value": "={{ $json.mimeType }}",
              "type": "string"
            },
            {
              "id": "77d782de-169d-4a46-8a8e-a3831c04d90f",
              "name": "file_title",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "9bde4d7f-e4f3-4ebd-9338-dce1350f9eab",
              "name": "file_url",
              "value": "={{ $json.webViewLink }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "bcd30cc7-8e00-42bd-a983-f107bba0259d",
      "name": "Set File ID",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -928,
        528
      ]
    },
    {
      "parameters": {
        "content": "## Agente RAG",
        "height": 464.8027193303974,
        "width": 1035.6381264595484,
        "color": 5
      },
      "id": "a6c13596-3f02-48c9-8f3a-356234532431",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1328,
        -192
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "e5602650-8588-4040-a9d9-d335b4bb106f",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -480,
        -112
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9a9a245e-f1a1-4282-bb02-a81ffe629f0f",
              "name": "chatInput",
              "value": "={{ $json?.chatInput || $json.body.chatInput }}",
              "type": "string"
            },
            {
              "id": "b80831d8-c653-4203-8706-adedfdb98f77",
              "name": "sessionId",
              "value": "={{ $json?.sessionId || $json.body.sessionId}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "b4826747-d163-4437-847f-7c923e93465c",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1040,
        -112
      ]
    },
    {
      "parameters": {
        "public": true,
        "options": {}
      },
      "id": "8d996ee2-3d6c-4ead-9aa4-039facd13345",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -1312,
        -112
      ],
      "webhookId": "e104e40e-6134-4825-a6f0-8a646d882662"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bf4dd093-bb02-472c-9454-7ab9af97bd1d",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "13d4024c-5b77-49fc-847e-bcf5078a8b89",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1312,
        96
      ],
      "webhookId": "bf4dd093-bb02-472c-9454-7ab9af97bd1d",
      "credentials": {
        "httpHeaderAuth": {
          "id": "7aujIvAFVkLal4zA",
          "name": "WaveSpeedVID"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "id": "4dd82655-3e5f-484a-9e5f-0bb2c557f7a8",
      "name": "Extract PDF Text",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        384,
        752
      ]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "05458086-de9c-4bb4-aeb0-6fdcac8e68fc",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        752,
        336
      ]
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "concatenate",
              "field": "data"
            }
          ]
        },
        "options": {}
      },
      "id": "be96c916-8de1-4c49-93a5-830342febce1",
      "name": "Summarize",
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1,
      "position": [
        992,
        368
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "2ae7faa7-a936-4621-a680-60c512163034",
                    "leftValue": "=FixedExpression{{ $('Set File ID').item.json.file_type }}FixedExpressionRename Output FixedExpression{{ $('Set File ID').item.json.file_type }}",
                    "rightValue": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "fc193b06-363b-4699-a97d-e5a850138b0e",
                    "leftValue": "={{ $('Set File ID').item.json.file_type }}",
                    "rightValue": "=application/vnd.google-apps.spreadsheet",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Set File ID').item.json.file_type }}",
                    "rightValue": "application/pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "5fe78f9b-2ff3-4adc-954e-53bfce35c142"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "b69f5605-0179-4b02-9a32-e34bb085f82d",
                    "leftValue": "={{ $('Set File ID').item.json.file_type }}",
                    "rightValue": "application/vnd.google-apps.document",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "acbbdc85-b718-432f-b15e-dc133bb53156",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -64,
        496
      ]
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {}
      },
      "id": "8c7c5786-5c5a-4231-b66c-9a59dd63e648",
      "name": "Extract from Excel",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        448,
        336
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f422e2e0-381c-46ea-8f38-3f58c501d8b9",
              "name": "schema",
              "value": "={{ $('Extract from Excel').isExecuted ? $('Extract from Excel').first().json.keys().toJsonString() : $('Extract from CSV').first().json.keys().toJsonString() }}",
              "type": "string"
            },
            {
              "id": "bb07c71e-5b60-4795-864c-cc3845b6bc46",
              "name": "data",
              "value": "={{ $json.concatenated_data }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1360,
        336
      ],
      "id": "bb456fc9-f410-4f45-b0f0-0a0ab5331dbd",
      "name": "Set Schema"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        448,
        512
      ],
      "id": "0de30b0b-c521-4365-9910-704c2ddaa27d",
      "name": "Extract from CSV"
    },
    {
      "parameters": {
        "content": "## Tabelas do Banco de Dados",
        "height": 300,
        "width": 680,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1248,
        1168
      ],
      "typeVersion": 1,
      "id": "3f703ab7-66c4-45a6-ae90-e3d672e4bfe8",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Use esta ferramenta para buscar todos os documentos disponíveis, incluindo o esquema da tabela caso o arquivo seja um CSV ou Excel.",
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "document_metadata",
          "mode": "list",
          "cachedResultName": "document_metadata"
        },
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.5,
      "position": [
        -768,
        112
      ],
      "id": "688ca4e1-dc45-469c-99e7-abb944f8e85f",
      "name": "List Documents",
      "credentials": {
        "postgres": {
          "id": "atqjwnq3Ph4Zvzm9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Dado um ID de arquivo, busca o texto contido no documento.",
        "operation": "executeQuery",
        "query": "SELECT \n    string_agg(text, ' ') as document_text\nFROM documents_pg\n  WHERE metadata->>'file_id' = $1\nGROUP BY metadata->>'file_id';",
        "options": {
          "queryReplacement": "={{ $fromAI('file_id') }}"
        }
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.5,
      "position": [
        -624,
        112
      ],
      "id": "725fed25-0cb7-4c37-851d-2e37a4fc0ed3",
      "name": "Get File Contents",
      "credentials": {
        "postgres": {
          "id": "atqjwnq3Ph4Zvzm9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Execute uma consulta SQL — use este comando para consultar a tabela document_rows depois de saber o ID do arquivo que você deseja consultar.\nO campo dataset_id corresponde ao file_id, e você sempre usará o campo row_data para aplicar filtros.\nEsse campo (row_data) é do tipo JSONB e contém todas as chaves do esquema do arquivo, conforme definidas na tabela document_metadata.\n\n📘 Exemplo 1: calcular média de receita\n\nSELECT AVG((row_data->>'revenue')::numeric)\nFROM document_rows\nWHERE dataset_id = '123';\n\n\n📘 Exemplo 2: somar vendas por categoria\n\nSELECT \n    row_data->>'category' AS category,\n    SUM((row_data->>'sales')::numeric) AS total_sales\nFROM dataset_rows\nWHERE dataset_id = '123'\nGROUP BY row_data->>'category';",
        "operation": "executeQuery",
        "query": "{{ $fromAI('sql_query') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.5,
      "position": [
        -464,
        112
      ],
      "id": "972312ed-9566-423b-bbb4-345d16ef5a86",
      "name": "Query Document Rows",
      "credentials": {
        "postgres": {
          "id": "atqjwnq3Ph4Zvzm9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -176,
        96
      ],
      "id": "5de36cf3-79a2-4927-b762-8366a247ebe2",
      "name": "Embeddings OpenAI2",
      "credentials": {
        "openAiApi": {
          "id": "nFqTD25QsgkeeRWg",
          "name": "Youtube Strategist"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1104,
        368
      ],
      "id": "7623544b-aa43-482f-97c2-28d781215168",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "document_metadata",
          "mode": "list",
          "cachedResultName": "document_metadata"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Set File ID').item.json.file_id }}",
            "title": "={{ $('Set File ID').item.json.file_title }}",
            "url": "={{ $('Set File ID').item.json.file_url }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": true,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "schema",
              "displayName": "schema",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -416,
        384
      ],
      "id": "578b00b3-04f5-4fad-9030-f0973d211eb9",
      "name": "Insert Document Metadata",
      "executeOnce": true,
      "credentials": {
        "postgres": {
          "id": "atqjwnq3Ph4Zvzm9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "document_rows",
          "mode": "list",
          "cachedResultName": "document_rows"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "dataset_id": "={{ $('Set File ID').item.json.file_id }}",
            "row_data": "={{ $json.toJsonString().replaceAll(/'/g, \"''\") }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "dataset_id",
              "displayName": "dataset_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_data",
              "displayName": "row_data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        752,
        528
      ],
      "id": "f166822c-a8c3-493e-92f9-8c393b9c7596",
      "name": "Insert Table Rows",
      "credentials": {
        "postgres": {
          "id": "atqjwnq3Ph4Zvzm9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "document_metadata",
          "mode": "list",
          "cachedResultName": "document_metadata"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Set File ID').item.json.file_id }}",
            "schema": "={{ $json.schema }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": true,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "schema",
              "displayName": "schema",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1584,
        336
      ],
      "id": "91f4a2c0-963e-4e68-855b-7c488c0379f3",
      "name": "Update Schema for Document Metadata",
      "credentials": {
        "postgres": {
          "id": "atqjwnq3Ph4Zvzm9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "content": "## 🚀 Agent RAG V2\n\n**Autor:** [Breno Vieira](https://www.youtube.com/@LionlabvideosIA)\n\n## Principais Funções e Estrutura\n📥 Indexação Inteligente\n\n* Divide documentos automaticamente em chunks semânticos (800–1200 caracteres).\n* Gera embeddings e armazena no banco vetorial (documents table).\n* Cria metadados organizados na tabela document_metadata.\n* Detecta e trata planilhas (CSV/XLSX), salvando-as em formato tabular no document_rows.\n\n🧠 Consulta e Raciocínio Avançado\n\n* Identifica o tipo de pergunta e decide automaticamente entre:\n* RAG (busca contextual em texto)\n* SQL (consultas numéricas/tabulares)\n* Full Document Retrieval (trazer o documento completo quando o contexto é insuficiente)\n* Faz rerank dos resultados para melhorar a relevância dos chunks retornados.\n* Combina informações de vários documentos ao mesmo tempo.\n\n🗂 Banco de Conhecimento Estruturado\n\n* document_metadata: informações de cada arquivo (nome, schema, tipo, origem, etc.).\n* documents: armazenamento vetorial dos chunks e embeddings.\n* document_rows: dados tabulares em formato JSONB para consultas SQL.\n\n🧰 Ferramentas Integradas\n\n* Text Splitter: divide os textos com base em tamanho e semântica.\n* Vector Store Cleanup: limpa e mantém o banco vetorial otimizado periodicamente.\n* Reranker: reordena os resultados de busca para aumentar a precisão das respostas.\n* Postgres Query Tool: executa SQL direto nos dados tabulares para análises precisas.\n* Supabase Integration: interface simples para visualizar os dados e chunks armazenados.",
        "height": 968,
        "width": 540,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1920,
        192
      ],
      "typeVersion": 1,
      "id": "b8e7a6c8-c46a-4b15-a3bc-d95451ec3f25",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "topN": 4
      },
      "type": "@n8n/n8n-nodes-langchain.rerankerCohere",
      "typeVersion": 1,
      "position": [
        48,
        96
      ],
      "id": "971f07c1-cc9b-43be-adfc-a195f36992b6",
      "name": "Reranker Cohere",
      "credentials": {
        "cohereApi": {
          "id": "SQIvyHPH2fBtu6t4",
          "name": "CohereApi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Use o RAG para buscar informações na base de conhecimento.",
        "tableName": "documents_pg",
        "topK": 25,
        "useReranker": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        -112,
        -112
      ],
      "id": "16f5a918-e85f-4f47-947d-61410ded3625",
      "name": "Postgres PGVector Store",
      "credentials": {
        "postgres": {
          "id": "atqjwnq3Ph4Zvzm9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": "documents_pg",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        1280,
        544
      ],
      "id": "b7078370-2460-48d6-87f5-b5c238e083ce",
      "name": "Postgres PGVector Store1",
      "credentials": {
        "postgres": {
          "id": "atqjwnq3Ph4Zvzm9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DO $$\nBEGIN\n    IF EXISTS (SELECT 1 FROM information_schema.tables WHERE table_name = 'documents_pg') THEN\n        EXECUTE 'DELETE FROM documents_pg WHERE metadata->>''file_id'' LIKE ''%' || $1 || '%''';\n    END IF;\nEND\n$$;",
        "options": {
          "queryReplacement": "={{ $json.file_id }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -752,
        384
      ],
      "id": "5de9a885-e57d-4c52-8382-d4c9a1c3adb4",
      "name": "Delete Old Data Rows",
      "credentials": {
        "postgres": {
          "id": "atqjwnq3Ph4Zvzm9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM document_rows\nWHERE dataset_id LIKE '%' || $1 || '%';",
        "options": {
          "queryReplacement": "={{ $('Set File ID').item.json.file_id }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -576,
        544
      ],
      "id": "1d2da6c5-3ec7-4973-9a2e-0f53c6f4db4f",
      "name": "Delete Old Doc Rows",
      "credentials": {
        "postgres": {
          "id": "atqjwnq3Ph4Zvzm9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "992a20a8-5b6a-4ea4-b021-7458435e131a",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "08b38c9e-b981-4017-82af-d4cc5c24d66c",
      "name": "Exists in DB?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        544,
        1280
      ]
    },
    {
      "parameters": {
        "content": "## Limpeza de Arquivos Defasados\nFaz uma busca por arquivos no drive que não pertencem mais ao BD e elimina duplicados",
        "height": 305,
        "width": 1976,
        "color": 2
      },
      "id": "37f4a1a7-88f7-4f20-a394-23ca9a7013b5",
      "name": "Sticky Note8",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -560,
        1168
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "id": "0f356f4b-85d1-440e-910c-a5711722da74",
      "name": "Check Every 15 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -464,
        1280
      ]
    },
    {
      "parameters": {
        "chunkSize": 10000,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1456,
        992
      ],
      "id": "4ef1e084-67ba-4f86-9c1c-9d62dfeb550e",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        784,
        992
      ],
      "id": "aa3d12bc-3e73-4ae8-b32f-24f1c6614c95",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "nFqTD25QsgkeeRWg",
          "name": "Youtube Strategist"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "Você é um assistente pessoal que ajuda a responder perguntas com base em um conjunto de documentos.\nOs documentos podem ser textuais (TXT, DOCX, PDFs extraídos, etc.) ou tabulares (arquivos CSV ou Excel).\n\nVocê possui ferramentas para realizar RAG na tabela documents, consultar os documentos disponíveis na tabela document_metadata, extrair todo o texto de um documento específico e fazer consultas SQL em arquivos tabulares na tabela document_rows.\n\nSempre comece realizando uma busca RAG, a menos que a pergunta exija uma consulta SQL para dados tabulares (por exemplo: somar valores, encontrar um máximo, etc.) — casos em que o RAG seria pouco confiável.\nSe o RAG não fornecer uma boa resposta, então verifique os documentos disponíveis, encontre alguns que provavelmente contenham a resposta e analise esses documentos diretamente.\nSe o valor for monetário em formato brasileiro (ex: R$ 332,40), use REPLACE para remover R$ e espaço e troque , por . antes de fazer ::numeric.\n\nSempre avise o usuário se não encontrar a resposta.\nNunca invente informações apenas para agradá-lo."
        }
      },
      "id": "3ef55e2b-d0b2-4367-93bf-ef147e56d9a1",
      "name": "RAG AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        -784,
        -112
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "CREATE TABLE document_metadata (\n    id TEXT PRIMARY KEY,\n    title TEXT,\n    url TEXT,\n    created_at TIMESTAMP DEFAULT NOW(),\n    schema TEXT\n);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -1136,
        1264
      ],
      "id": "58bedaa4-5454-4d46-9b5a-7afea66b82b2",
      "name": "Criar Tabela de Metadados",
      "credentials": {
        "postgres": {
          "id": "atqjwnq3Ph4Zvzm9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "CREATE TABLE document_rows (\n    id SERIAL PRIMARY KEY,\n    dataset_id TEXT REFERENCES document_metadata(id),\n    row_data JSONB  -- Store the actual row data\n);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -816,
        1264
      ],
      "id": "71953a89-752a-483f-adfb-aa8d7519f2cc",
      "name": "Criar Linhas Para Dados Tabulares",
      "credentials": {
        "postgres": {
          "id": "atqjwnq3Ph4Zvzm9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/drive/v3/files",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "'12D_zcqS8WQMX8wmvtkDhMecVPWeGsFkb' in parents and trashed = true"
            },
            {
              "name": "fields",
              "value": "files(id,name,mimeType,webViewLink,trashed,trashedTime)"
            },
            {
              "name": "pageSize",
              "value": "1000"
            }
          ]
        },
        "options": {}
      },
      "id": "79ffa821-841d-4154-8ffa-3b740efd377f",
      "name": "Busca Arquivos Deletados via API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -256,
        1280
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "45fAQEgxniTP0gBt",
          "name": "GOogle OATH Lion"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse the response from Google Drive API\nconst response = $input.first().json;\nconst trashedFiles = response.files || [];\n\nif (trashedFiles.length === 0) {\n  return [{ message: 'No trashed files found', count: 0 }];\n}\n\n// Return each file as a separate item for processing\nreturn trashedFiles.map(file => ({\n  file_id: file.id,\n  file_name: file.name,\n  file_type: file.mimeType,\n  file_url: file.webViewLink,\n  trashed_time: file.trashedTime\n}));"
      },
      "id": "e4e57f6b-75f4-4643-9233-62db1d288f0b",
      "name": "Parseamento",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -64,
        1280
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "5659a6ba-8693-4ed4-87db-3ce12446b9dd",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "873f04b0-c845-4fa0-95e8-f2b9002303b1",
      "name": "Tem Arquivos Para Deletar?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        144,
        1280
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id FROM document_metadata WHERE id = '{{ $json.file_id }}'",
        "options": {}
      },
      "id": "ed6f67f2-733b-43fc-805f-dc415ca4481b",
      "name": "Existe no BD",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        336,
        1280
      ],
      "credentials": {
        "postgres": {
          "id": "atqjwnq3Ph4Zvzm9",
          "name": "Postgres account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM document_rows\nWHERE dataset_id LIKE '%' || $1 || '%';",
        "options": {
          "queryReplacement": "={{ $('Parseamento').first().json.file_id }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        960,
        1280
      ],
      "id": "fb6c5f26-ec6c-480b-80ce-1e93bece83ab",
      "name": "Deleta Arquivos Antigos",
      "credentials": {
        "postgres": {
          "id": "atqjwnq3Ph4Zvzm9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DO $$\nBEGIN\n    IF EXISTS (SELECT 1 FROM information_schema.tables WHERE table_name = 'documents_pg') THEN\n        EXECUTE 'DELETE FROM documents_pg WHERE metadata->>''file_id'' LIKE ''%' || $1 || '%''';\n    END IF;\nEND\n$$;",
        "options": {
          "queryReplacement": "={{ $('Parseamento').item.json.file_id }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        768,
        1280
      ],
      "id": "4397c862-f6ce-4bec-a855-a9918879d6f6",
      "name": "Deletar Linhas Antigas",
      "credentials": {
        "postgres": {
          "id": "atqjwnq3Ph4Zvzm9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM document_metadata WHERE id = '{{ $('Parseamento').item.json.file_id }}'",
        "options": {}
      },
      "id": "41ec2311-f7b5-43ff-9aaa-d2fc3a456f27",
      "name": "Deleta Metadata",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1152,
        1280
      ],
      "credentials": {
        "postgres": {
          "id": "atqjwnq3Ph4Zvzm9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Você é um agente de segmentação de documentos.\n\nObjetivo: dividir o documento em partes (chunks) coerentes que possam ser recuperadas depois para uso em RAG.\n\n⚙️ REGRAS ESTRITAS:\n\nNÃO resuma, reescreva, reformule nem traduza o texto.\n\nCopie o texto original exatamente como está.\n\nCada chunk deve ser um trecho contíguo do texto original.\n\nTamanho-alvo de cada chunk: entre 700 e 1000 caracteres (limite máximo: 1200).\n\nSe uma seção for maior que 1200 caracteres, você DEVE dividi-la em 2 ou mais partes coerentes.\n\nÉ permitido dividir uma seção em múltiplos chunks, desde que cada parte faça sentido isoladamente (não corte frases no meio).\n\nPrefira pontos de corte em títulos, linhas em branco ou final de frases.\n\nSe dividir uma mesma seção, mantenha a relação no título, por exemplo:\n\"Boas práticas (1/2)\", \"Boas práticas (2/2)\".\n\nSe uma seção for extensa ou cobrir vários subtópicos (ex: “Embeddings”, “Chunking”, “Banco Vetorial”), trate cada subtópico como um chunk separado — mesmo que estejam sob o mesmo título.\n\n📦 Formato de saída (somente JSON válido):\n{\n  \"chunks\": [\n    { \"text\": \"...texto original exato...\", \"topic\": \"...\" }\n  ]\n}\n\n\nDocumento:\n\n{{ $json[\"data\"] || $json[\"text\"] }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        816,
        784
      ],
      "id": "d38c626b-bf5f-444d-9dd3-a44c231d09af",
      "name": "Agente de Chuking"
    },
    {
      "parameters": {
        "jsCode": "// Code: splitar o texto grande em partes menores\n// coloca este node ANTES do AI Agent\n\n// pega o texto que veio do extractor\nconst full = $input.item.json.data || $input.item.json.text || '';\n// tamanho máximo por parte (ajuste se precisar)\nconst MAX_CHARS = 8000;\n\nconst out = [];\n\nfor (let i = 0; i < full.length; i += MAX_CHARS) {\n  out.push({\n    json: {\n      // pedaço que o agente vai processar\n      data: full.slice(i, i + MAX_CHARS),\n      // carrega o documento inteiro junto (pra validar no fim se quiser)\n      original: full,\n      // índice do pedaço (só pra debug)\n      part: Math.floor(i / MAX_CHARS) + 1,\n    },\n  });\n}\n\nreturn out;\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        656,
        832
      ],
      "id": "cde2bd06-4af2-43be-b922-5d605f15cada",
      "name": "Dividir Chunks / Tokens"
    },
    {
      "parameters": {
        "jsCode": "// vamos processar TODOS os itens que vieram do AI Agent\nconst items = $input.all();\nconst out = [];\n\nfor (const item of items) {\n  const raw = item.json.output;\n  if (!raw) {\n    out.push({\n      json: {\n        debug: 'Sem campo output vindo do AI Agent neste item',\n        received: item.json,\n      },\n    });\n    continue;\n  }\n\n  // limpar ```json\n  let text = raw.trim();\n  if (text.startsWith('```')) {\n    text = text.replace(/```(json)?/g, '').trim();\n  }\n\n  // achar \"chunks\"\n  const chunksKeyIndex = text.indexOf('\"chunks\"');\n  if (chunksKeyIndex === -1) {\n    out.push({\n      json: {\n        debug: 'Output não contém \"chunks\" neste item',\n        raw: text,\n      },\n    });\n    continue;\n  }\n\n  const bracketStart = text.indexOf('[', chunksKeyIndex);\n  if (bracketStart === -1) {\n    out.push({\n      json: {\n        debug: 'Não encontrei \"[\" depois de \"chunks\" neste item',\n        raw: text,\n      },\n    });\n    continue;\n  }\n\n  // varrer objetos completos\n  const objs = [];\n  let i = bracketStart + 1;\n  const len = text.length;\n  let braceCount = 0;\n  let objStart = -1;\n\n  while (i < len) {\n    const ch = text[i];\n\n    if (ch === '{') {\n      if (braceCount === 0) objStart = i;\n      braceCount++;\n    } else if (ch === '}') {\n      braceCount--;\n      if (braceCount === 0 && objStart !== -1) {\n        const objStr = text.slice(objStart, i + 1).trim();\n        objs.push(objStr);\n        objStart = -1;\n      }\n    } else if (ch === ']' && braceCount === 0) {\n      // fim do array de chunks\n      break;\n    }\n\n    i++;\n  }\n\n  if (!objs.length) {\n    out.push({\n      json: {\n        debug: 'Nenhum chunk completo encontrado neste item',\n        raw: text,\n      },\n    });\n    continue;\n  }\n\n  // parse e explode\n  const chunks = [];\n  for (const o of objs) {\n    try {\n      // 1) tira caracteres nulos do PDF\n      // 2) tira vírgula sobrando no final\n      const cleanObj = o\n        .replace(/\\u0000/g, '')\n        .replace(/},\\s*$/, '}');\n\n      const parsed = JSON.parse(cleanObj);\n      chunks.push(parsed);\n    } catch (err) {\n      // se algum vier quebrado, pula\n    }\n  }\n\n  // agora cada chunk vira 1 item n8n\n  for (let idx = 0; idx < chunks.length; idx++) {\n    const c = chunks[idx] || {};\n    const textChunk = (c.text || '').replace(/\\u0000/g, '');\n    out.push({\n      json: {\n        text: textChunk,\n        metadata: {\n          chunkNumber: idx + 1,\n          totalChunks: chunks.length,\n          chunkSize: textChunk.length,\n          chunkingMethod: 'agentic-gpt',\n          topic: c.topic || `Section ${idx + 1}`,\n        },\n      },\n    });\n  }\n}\n\nreturn out;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        688
      ],
      "id": "b755328b-60b0-48c4-80a8-92441ebf3997",
      "name": "Limpa resposta do Agente"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "RAG AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Download File": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Created": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Postgres PGVector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Postgres PGVector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "RAG AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Set File ID": {
      "main": [
        [
          {
            "node": "Delete Old Data Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Updated": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "RAG AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Summarize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize": {
      "main": [
        [
          {
            "node": "Set Schema",
            "type": "main",
            "index": 0
          },
          {
            "node": "Postgres PGVector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Extract from Excel",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from CSV",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract PDF Text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract Document Text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract Document Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from Excel": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          },
          {
            "node": "Insert Table Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Schema": {
      "main": [
        [
          {
            "node": "Update Schema for Document Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from CSV": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          },
          {
            "node": "Insert Table Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Documents": {
      "ai_tool": [
        [
          {
            "node": "RAG AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get File Contents": {
      "ai_tool": [
        [
          {
            "node": "RAG AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Query Document Rows": {
      "ai_tool": [
        [
          {
            "node": "RAG AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI2": {
      "ai_embedding": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Set File ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Document Metadata": {
      "main": [
        [
          {
            "node": "Download File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reranker Cohere": {
      "ai_reranker": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "ai_reranker",
            "index": 0
          }
        ]
      ]
    },
    "Postgres PGVector Store": {
      "ai_tool": [
        [
          {
            "node": "RAG AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Postgres PGVector Store1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Old Data Rows": {
      "main": [
        [
          {
            "node": "Delete Old Doc Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Old Doc Rows": {
      "main": [
        [
          {
            "node": "Insert Document Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Exists in DB?": {
      "main": [
        [
          {
            "node": "Deletar Linhas Antigas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Every 15 Minutes": {
      "main": [
        [
          {
            "node": "Busca Arquivos Deletados via API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Extract PDF Text": {
      "main": [
        [
          {
            "node": "Dividir Chunks / Tokens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Document Text": {
      "main": [
        [
          {
            "node": "Dividir Chunks / Tokens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Agente de Chuking",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "RAG AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca Arquivos Deletados via API": {
      "main": [
        [
          {
            "node": "Parseamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parseamento": {
      "main": [
        [
          {
            "node": "Tem Arquivos Para Deletar?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tem Arquivos Para Deletar?": {
      "main": [
        [
          {
            "node": "Existe no BD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Existe no BD": {
      "main": [
        [
          {
            "node": "Exists in DB?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deleta Arquivos Antigos": {
      "main": [
        [
          {
            "node": "Deleta Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deletar Linhas Antigas": {
      "main": [
        [
          {
            "node": "Deleta Arquivos Antigos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agente de Chuking": {
      "main": [
        [
          {
            "node": "Limpa resposta do Agente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dividir Chunks / Tokens": {
      "main": [
        [
          {
            "node": "Agente de Chuking",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpa resposta do Agente": {
      "main": [
        [
          {
            "node": "Postgres PGVector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e4c5f6f4-1a36-4810-a819-aa17d724036c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "020e6654e647ab8d6d90bd540d9b9d5362af548990a8796fe9b3c6de0e649960"
  },
  "id": "HEX9crLhsvbSJ1rL",
  "tags": [
    {
      "createdAt": "2025-10-26T19:19:33.254Z",
      "updatedAt": "2025-10-26T19:19:33.254Z",
      "id": "TPxLPx6iIKWqVu3m",
      "name": "LionLab"
    }
  ]
}